os:
  - osx
  - linux

language: node_js

node_js:
  - "4"
  - "6"
  - "7"
  - "8"

sudo: false

cache:
  directories:
    - node_modules

matrix:
  fast_finish: true
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
      env:
         - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"

before_install:
  - uname -a
  - nvm --version
  - node --version
  - npm --version

git:
  depth: 10

branches:
  only:
    - master

install:
  - npm i

before_script:
  - echo "no-op"

script:
  - npm run -s compile
  - npm run -s test
