/* Note: other color overrides are in main.css still */
a { color: #98A187; text-decoration: none; }

.tsd-signature-symbol { color: #818181; font-weight: normal; }

.tsd-signature-type { font-style: normal; font-weight: bold; }

.tsd-panel > :first-child {
  text-align: center;
}

.tsd-panel > :nth-child(2) {
  text-align: center;
}

img[alt="vile_full"] {
  max-width: 25%;
}

#tsd-widgets {
  display: none !important;
}

#tsd-search-label {
  position: relative;
  overflow: hidden;
  height: 30px;
}

#tsd-search-label.no-caption {
  width: 40px;
}

.tsd-search-label-li:after {
  content: "" !important;
}

.tsd-breadcrumb {
  position: relative;
  left: -10px;
}

#tsd-search-label:before {
  height: 30px;
  width: 40px;
}

.hljs { display: inline-block; padding: 0.5em; background: #f6f6f6; color: #333; }

.hljs-comment, .hljs-annotation, .hljs-template_comment, .diff .hljs-header, .hljs-chunk, .apache .hljs-cbracket {
  color: #98A187;
}

.hljs-keyword, .hljs-id, .hljs-built_in, .css .smalltalk .hljs-class, .hljs-winutils, .bash .hljs-variable, .tex .hljs-command, .hljs-request, .hljs-status, .nginx .hljs-title {
  color: #6092F5;
}

.xml .hljs-tag { color: #6092F5; }
.xml .hljs-tag .hljs-value { color: #6092F5; }

.hljs-string, .hljs-title, .hljs-parent, .hljs-tag .hljs-value, .hljs-rules .hljs-value {
  color: #FF8080;
}

.ruby .hljs-symbol { color: #FF8080; }
.ruby .hljs-symbol .hljs-string { color: #FF8080; }

.hljs-template_tag, .django .hljs-variable, .hljs-addition, .hljs-flow, .hljs-stream, .apache .hljs-tag, .hljs-date, .tex .hljs-formula, .coffeescript .hljs-attribute {
  color: #FF8080;
}

.ruby .hljs-string, .hljs-decorator, .hljs-filter .hljs-argument, .hljs-localvars, .hljs-array, .hljs-attr_selector, .hljs-pseudo, .hljs-pi, .hljs-doctype, .hljs-deletion, .hljs-envvar, .hljs-shebang, .hljs-preprocessor, .hljs-pragma, .userType, .apache .hljs-sqbracket, .nginx .hljs-built_in, .tex .hljs-special, .hljs-prompt {
  color: #6092F5;
}

.hljs-phpdoc, .hljs-javadoc, .hljs-xmlDocTag { color: #818181; }

.vhdl .hljs-typename { font-weight: bold; }
.vhdl .hljs-string { color: #4a4a4a; }
.vhdl .hljs-literal { color: #FF8080; }
.vhdl .hljs-attribute { color: #6092F5; }

.xml .hljs-attribute { color: #FF8080; }

.tsd-widget.menu {
  display: none; !important
}

.tsd-generator {
  text-align: center;
}
