doctype html
html(lang="en")
  head
    title= title

    link(rel="icon", href="data:;base64,iVBORw0KGgo=")

    link(href="/pure.css" rel="stylesheet")
    link(href="/grids-responsive.css" rel="stylesheet")
    link(href="/ui.css" rel="stylesheet")
    link(href="/pygments.css" rel="stylesheet")

    script(src="/jquery.js", type="text/javascript")

    block head

  body
    .app.pure-u
      .pure-u-md-4-24.pure-u-1-24

      .pure-u-md-18-24.pure-u-22-24
        block body

      .pure-u-md-4-24.pure-u-1-24
