body
  background #ddd
  color #333

a, button
  color #333
  font-weight bold
  text-decoration none
  cursor pointer

a:hover
  text-decoration underline
  color #111

.app
  width 100%

.nav
  margin 1rem 0
  text-align left

  a
    display inline-block
    margin-right 1rem

// TODO: use responsive grid
.files
  width: 75%
  margin 0 auto

.files--stats
  margin-top .5rem

.files--stats--title
  padding-right 1rem

.files--stats--value
  text-align right

.files--split-at-imperfect-files
  height 2rem

.file--path
  width 75%
  display inline-block
  text-align left

.file--score
  display: inline-block

.file--overall-score,
.files--overall-score
  margin .5rem 0 1rem 0

  h1
    display inline-block

  span
    display inline
    font-size 2rem
    font-weight 800
    color #ccc
    background #333
    border-radius 4rem
    padding .5rem 1rem
    margin-right 1rem

.file--issue
  margin-top 1rem
  background #333
  color #ccc
  padding 1rem
  border-radius 1rem

  > *
    margin-top 3rem
    display inline

  label
    display inline-block
    padding 0 1rem

  .file--snippet
    line-height 1.25rem

  .file--issue--highlighted
    display block
    background rgba(206, 38, 28, .35)
